body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}
table{
    width:75%;
    border: 3px solid #EFAD4D;
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}
div h1{
    letter-spacing: 30px;
    background: #CF8E1F;
    background: linear-gradient(to right, #CF8E1F 0%, #FFD64F 36%, #FFF29C 68%, #CFB54B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    }
 div a button{
    color: #ffffff;
    background-color: rgb(108, 142, 58);
    width: 70px;
    padding: 10px 2px;
    border:1px solid rgb(108, 142, 58);
    border-radius: 5px;

}
table tr:nth-child(odd){
    background-color: #ececec;
    padding:10px;
}
table tr:first-child{
    background-color: #EFAD4D;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 30px;
}
tr{
    font-size: larger;
}
.delete button{
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}
td img{
    width: 20px;
    height: 20px;
    filter: invert();
}
.edit button{
    background-color: rgb(115, 115, 241);
    border: 1px solid rgb(115, 115, 241) ;
    border-radius: 50%;
    padding: 5px;
    color: #ffffff;
}


